# ~/.config/bash/.gitignore
# ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾

# ——————————————————————————————————————————————————————— #

.DS_Store

**/Icon[^-!@£$%^&*(){}_:'"|\/\\a-zA-Z0-9]
**/Icon\r

# ——————————————————————————————————————————————————————— #

.idea/
.vscode/

# ——————————————————————————————————————————————————————— #

.tmp.*
tests/

# ——————————————————————————————————————————————————————— #
